.search {
  padding: 3px 10px !important;
  border-radius: 3px !important;
  background: transparent !important;
  margin-right: 5px !important;
  border: none !important;
  .ant-input {
    background: transparent !important;
  }
}
.search-wrapper {
  width: 30% !important;
  padding: 3px 10px !important;
  border-radius: 3px !important;
  background: transparent !important;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  i {
    color: gray;
  }
}
