.Item {
  &Content {
    height: 360px;
    padding: 15px;
    overflow-y: scroll;
    &Record {
      display: flex;
      margin-bottom: 6px;
      width: 70%;
      align-items: flex-end;
      &Image {
        width: 25px;
        height: 25px;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          border-radius: 50%;
        }
      }
      span {
        display: block;
        background: #e6e6e6;
        border-radius: 16px;
        padding: 7px 15px;
        margin: 0 5px;
        word-break: break-all;
      }
      &Group {
        margin-bottom: 5px;
      }
      &Reverd {
        margin-left: auto;
        flex-direction: row-reverse;
        justify-content: end;
        span {
          background-color: rgb(250, 60, 76);
          color: white;
        }
      }
    }
  }
}
