.StyleItemPostUserComponent {
}
.Item {
  &Image {
    width: 480px;
    min-height: 600px;
    display: flex;
    background: black;
    img {
      width: 100%;
      margin: auto;
    }
  }
  &Content {
    width: calc(100% - 480px);
    &Header {
      padding: 20px 25px;
      display: flex;
      align-items: center;
      img {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        margin-right: 20px;
      }
      h6 {
        font-weight: 600;
        font-size: 15px;
      }
    }
    &Main {
      height: 400px;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      overflow-y: scroll;
    }
    &Comment {
      padding: 20px 25px;
      .ItemsComment {
        display: flex;
        margin-bottom: 40px;
        img {
          width: 37px;
          height: 37px;
          border-radius: 50%;
          margin-right: 20px;
        }
        strong,
        a {
          color: #262626;
          font-weight: 600;
          font-size: 14px;
          margin-right: 8px;
        }
        span {
          font-size: 14px;
          color: #262626;
        }
        &Child {
          img {
            width: 33px;
            height: 33px;
            margin-right: 27px;
          }
          strong,
          a {
            font-size: 13px;
            margin-right: 8px;
          }
          span {
            font-size: 13px;
          }
        }
        &Action {
          margin-top: 8px;
          span,
          strong {
            color: #8e8e8e;
            cursor: pointer;
          }
          span {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
