.radio {
  display: flex;
  align-items: center;
  font-size: 14px;
  &-disabled {
    .radio {
      &-input {
        &:checked + label > span {
          border: 10px solid#f5f5f5;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            background: rgba(0, 0, 0, 0.25);
            transform: translate(-50%, -50%);
          }
        }
      }
      &-label {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.25);
        &-inner {
          border: 1px solid#d9d9d9 !important;
        }
      }
    }
  }
  &-input {
    width: 0;
    height: 0;
    opacity: 0;
    &:checked + label > span {
      border: 1px solid #1890ff;
      animation: bounce 250ms;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background: #1890ff;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-label {
    display: flex;
    cursor: pointer;
    &-inner {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      border: 1px solid #d9d9d9;
      margin-right: 10px;
      border-radius: 50%;
      transition: all 0.3s;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
