// .custom-select-element {
//   select {
//     max-width: 150px;
//     width: 100%;
//     border: 1px solid #bbb;
//     /* padding: 12px; */
//     padding: 8px;
//   }
// }
.select {
  position: relative;
  font-size: 14px;
  &-wrapper {
  }
  &-selector {
    cursor: default;
    width: 100%;
    // height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    background: white;
    padding: 5px;
    position: relative;
    &-multiple {
      cursor: text;
    }
    &:hover {
      .select-selection {
        &-remove {
          opacity: 1;
        }
      }
    }
  }
  .item-hidden {
    display: none !important;
  }
  .item-focused {
    color: #bfbfbf;
  }
  .item-show {
    display: block;
  }
  &-selection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &-search {
      input {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        &:focus,
        &:active {
          outline: none;
        }
      }
    }
    &-item {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    &-multiple {
      max-width: 100%;
      margin-top: 2px;
      margin-right: 4px;
      margin-bottom: 2px;
      padding: 0 4px 0 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 24px;
      line-height: 22px;
      background: #f5f5f5;
      border: 1px solid #f0f0f0;
      border-radius: 2px;
      padding: 2px 4px 2px 8px;
      display: flex;
      cursor: default;
      &-remove {
        margin-left: 4px;
        color: #bfbfbf;
        cursor: pointer;
      }
    }
    &-placeholder {
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
      color: #bfbfbf;
    }
    &-remove {
      cursor: pointer;
      color: #bfbfbf;
      opacity: 0;
      transition: 0.2s;
    }
  }
  &-dropdown {
    position: absolute;
    width: 100%;
    // height: 300px;
    background-color: #fff;
    max-height: 256px;
    overflow-y: scroll;
    border-radius: 2px;
    outline: none;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background: white;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s ease-in-out;
    &-active {
      display: block;
      transform: scaleY(1);
      opacity: 1;
      animation: showDropdown 1 0.3s;
    }
    &-hidden {
      display: none;
      transform: scaleY(0);
      opacity: 0;
      animation: hiddenDropdown 1 0.3s;
    }
    &-block {
      margin: 0;
      &-item {
        cursor: pointer;
        padding: 5px 8px;
        &-selected {
          font-weight: 600;
          background: #e6f7ff;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes showDropdown {
  0% {
    transform: scaleY(0.5);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes hiddenDropdown {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
  100% {
    transform: scaleY(0.5);
    opacity: 0.8;
    display: none;
  }
}
