@import '@assets/scss/_variable.scss';
@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/Segoe-UI.ttf');
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../assets/fonts/Segoe-UI-Bold.ttf');
}

body {
  font-family: 'Segoe UI' !important;
  color: black;
}

/*---------------------------------Custom Antd--------------------------------*/
.ant-form-item {
  margin-bottom: 40px !important;
  .ant-row {
    margin-top: 0;
  }
}
.ant-input {
  border-radius: 20px !important;
  padding: 10px 20px !important;
  background: $gray-1 !important;
  color: black !important;
  &::placeholder {
    color: #a4a4a4 !important;
  }
}
.ant-input-affix-wrapper {
  border-radius: 20px !important;
  padding: 10px 20px !important;
  background: $gray-1 !important;
  .ant-input {
    border-radius: 0 !important;
    padding: 0 !important;
  }
}
.ant-form-item-has-error {
  .ant-input,
  .ant-input-affix-wrapper {
    background: $gray-1 !important;
    &:hover {
      background: $gray-1 !important;
    }
  }
  .ant-form-item-explain {
    margin-top: 7px !important;
    display: flex !important;
  }
}
.ant-btn {
  border: none !important;
  background: $bg-blue !important;
  color: $white !important;
  padding: 10px 30px !important;
  border-radius: 20px !important;
  height: auto !important;
  &:hover {
    background: $bg-purple !important;
    color: $white !important;
  }
}

/*-----------------------------Custom Bootstrap-----------------------------*/
.row {
  margin: 0 !important;
}
