@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../../node_modules/antd/dist/antd.min.css";
@import '@assets/scss/_variable.scss';
@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Italic";
  src: url("../assets/fonts/Nunito-Italic.ttf");
}

body {
  font-family: "Nunito-Regular" !important;
  color: black;
}

/*---------------------------------Custom Antd--------------------------------*/
.ant-form-item {
  margin-bottom: 40px !important;
}
.ant-input {
  border-radius: 20px !important;
  padding: 10px 20px !important;
  background: $gray-1 !important;
  color: black !important;
  &::placeholder {
    color: #A4A4A4 !important;
  }
}
.ant-input-affix-wrapper {
  border-radius: 20px !important;
  padding: 10px 20px !important;
  background: $gray-1 !important;
  .ant-input {
    border-radius: 0 !important;
    padding: 0 !important;
  }
}
.ant-form-item-has-error{
  .ant-input, .ant-input-affix-wrapper {
    background: $gray-1 !important;
    &:hover {
      background: $gray-1 !important;
    }
  }
  .ant-form-item-explain {
    margin-top: 7px !important;
    display: flex !important;
  }
}
.ant-btn {
  border: none !important;
  background: $bg-blue !important;
  color: $white !important;
  padding: 10px 30px !important;
  border-radius: 20px !important;
  height: auto !important;
  &:hover {
    background: $bg-purple !important;
    color: $white !important;
  }
}


/*-----------------------------Custom Bootstrap-----------------------------*/
.row {
  margin: 0 !important;
}
