@import '@assets/scss/_variable.scss';
@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/Segoe-UI.ttf');
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../assets/fonts/Segoe-UI-Bold.ttf');
}

@font-face {
  font-family: 'OpenSansCondensed';
  src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}
@font-face {
  font-family: 'OpenSansCondensed-Bold';
  src: url('../assets/fonts/OpenSansCondensed-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'OpenSansCondensed-Bold';
  src: url('../assets/fonts/OpenSansCondensed-Bold.ttf');
}
body {
  font-family: 'Roboto' !important;
  color: black;
}

:root {
  --blue1: #0095f6;
  --grayText: #262626;
  --red: #ed4956;
  --gray: #dbdbdb;
}

/*---------------------------------Custom Antd--------------------------------*/
.ant-form-item {
  margin-bottom: 40px !important;
  .ant-row {
    margin-top: 0;
  }
}
.ant-input {
  border-radius: 8px !important;
  padding: 10px 20px !important;
  background: $gray-1 !important;
  color: black !important;
  &::placeholder {
    color: #a4a4a4 !important;
  }
}
.ant-input-affix-wrapper {
  border-radius: 8px !important;
  padding: 10px 20px !important;
  background: $gray-1 !important;
  .ant-input {
    border-radius: 0 !important;
    padding: 0 !important;
  }
}
.ant-form-item-has-error {
  .ant-input,
  .ant-input-affix-wrapper {
    background: $gray-1 !important;
    &:hover {
      background: $gray-1 !important;
    }
  }
  .ant-form-item-explain {
    margin-top: 7px !important;
    display: flex !important;
  }
}
.ant-btn {
  border: none !important;
  background: $bg-blue !important;
  color: $white !important;
  padding: 10px 30px !important;
  border-radius: 20px !important;
  height: auto !important;
  &:hover {
    background: $bg-purple !important;
    color: $white !important;
  }
}
.ant-input-focused,
.ant-input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.opacity-100 {
  opacity: 1 !important;
}

/*-----------------------------Custom Bootstrap-----------------------------*/
.row {
  margin: 0 !important;
}

//modal antd {
.ant-modal-body {
  padding: 0 !important;
}
.ant-modal-content {
  border-radius: 22px !important;
  overflow: hidden !important;
  background: white !important;
}

//modal post user
.modal-post-user {
  width: 42% !important;
  // background: white !important;
  .ant-modal-content {
    min-height: 600px !important;
  }
}
