.viewUser {
  display: flex;
  &Image {
    margin-right: 100px;
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }
  &Infor {
    &Top {
      h6 {
        font-size: 28px;
        font-weight: 300;
        font-family: 'OpenSansCondensed';
        margin-right: 20px;
      }
    }
    &Center {
      display: flex;
      font-size: 15px;
      margin: 15px 0;
      &Item {
        margin-right: 30px;
        strong {
          margin-right: 7px;
        }
      }
    }
    &Bottom {
      margin-top: 20px;
      span {
        font-size: 16px;
      }
    }
  }
  &Modal {
    &Main {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin: 40px;
      }
      h6 {
        width: 57%;
        margin-bottom: 40px;
      }
    }
    &Button {
      border-top: 1px solid var(--gray);
      width: 100%;
      padding: 10px 0;
      &:first-of-type {
        &Config {
          color: var(--red);
        }
      }
      &Config {
        width: 100%;
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
        &Red {
          color: var(--red) !important;
        }
      }
    }
  }
}
